#tweets {
    max-width: 600px;
    margin: 0 auto;
}

#tweets .tweet {
    border: 1px solid black;
    border-radius: 1em;
    margin: 0.5em 0;
    padding: 1em;
    box-sizing: border-box;
}

#tweets .tweet .heading {
    font-size: 1rem;
    font-weight: normal;
}

#tweets .tweet .image {
    max-width: 100%;
}

#tweets .tweet .heading .displayName {
    font-weight: 700;
}

#tweets .tweet .heading .userName {
    color: rgb(113, 118, 123);
    font-weight: 400;
}

#tweets .tweet .heading .timeAgo {
    color: rgb(113, 118, 123);
    font-weight: 400;
}